/* ============================================
// global font-family
// ==========================================*/
$font-base: 'Open Sans', 'Noto Sans JP', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-notosans: 'Noto Sans JP', sans-serif;